!!!
%html{:lang => "ja", "xml:lang" => "ja", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "ja", "http-equiv" => "Content-Language"}/
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "text/css; charset=utf-8", "http-equiv" => "Content-Style-Type"}/
    %meta{:content => "text/javascript; charset=utf-8", "http-equiv" => "Content-Script-Type"}/
    %meta{:content => "INDEX,FOLLOW", :name => "robots"}/
    %title 名古屋Ruby会議02
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "keywords"}/
    %link{:href => "/stylesheets/nagoya02.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
  %body
    / ▼▼▼wrapper▼▼▼
    #wrapper
      / ▼▼▼container▼▼▼
      #container
        #header
          %h1
            %img{:alt => "\345\220\215\345\217\244\345\261\213Ruby\344\274\232\350\255\26002", :src => "/images/nagoya02/logo01.png"}/
          %p#regist
            %img{:alt => "\347\231\273\351\214\262\343\203\225\343\202\251\343\203\274\343\203\240\343\201\257\343\201\223\343\201\241\343\202\211", :src => "/images/nagoya02/regist.png"}/
        / ▼▼▼main▼▼▼
        #main
          / ▼▼▼contents▼▼▼
          #contents
            / ▼▼▼summary▼▼▼
            #summary
              %h2 名古屋Ruby会議02 開催概要
              %dl
                %dt 日時
                %dd 2011/02/26(土) 13:00-16:30
                %dt 会場
                %dd
                  %a{:href => "http://computer.trident.ac.jp/"}> トライデントコンピュータ専門学校
                  （JR名古屋駅徒歩10分）
                %dt 参加費用
                %dd 無料
                %dt 事前登録
                %dd 必要（参加登録の受付は終了しました）
                %dt 定員
                %dd 50名
                %dt ネット中継
                %dd Ustream配信(予定)
            / ▲▲▲summary▲▲▲
            / ▼▼▼access▼▼▼
            #access
              %h2 アクセス
              %p#map
                %iframe{:frameborder => "0", :height => "300", :marginheight => "0", :marginwidth => "0", :scrolling => "no", :src => "http://maps.google.co.jp/maps?q=%E5%90%8D%E5%8F%A4%E5%B1%8B%E5%B8%82%E4%B8%AD%E6%9D%91%E5%8C%BA%E5%90%8D%E9%A7%853-24-15&amp;ie=UTF8&amp;hq=&amp;hnear=%E6%84%9B%E7%9F%A5%E7%9C%8C%E5%90%8D%E5%8F%A4%E5%B1%8B%E5%B8%82%E4%B8%AD%E6%9D%91%E5%8C%BA%E5%90%8D%E9%A7%85%EF%BC%93%E4%B8%81%E7%9B%AE%EF%BC%92%EF%BC%94%E2%88%92%EF%BC%91%EF%BC%95&amp;gl=jp&amp;z=14&amp;brcurrent=3,0x600376dce6674b49:0x70a24226ba8f38b3,0,0x600376dce595b651:0x9889d60a2fc0fcb7&amp;ll=35.172525,136.886328&amp;output=embed", :width => "300"}
                %br/
                %small
                  %a{:href => "http://maps.google.co.jp/maps?q=%E5%90%8D%E5%8F%A4%E5%B1%8B%E5%B8%82%E4%B8%AD%E6%9D%91%E5%8C%BA%E5%90%8D%E9%A7%853-24-15&amp;ie=UTF8&amp;hq=&amp;hnear=%E6%84%9B%E7%9F%A5%E7%9C%8C%E5%90%8D%E5%8F%A4%E5%B1%8B%E5%B8%82%E4%B8%AD%E6%9D%91%E5%8C%BA%E5%90%8D%E9%A7%85%EF%BC%93%E4%B8%81%E7%9B%AE%EF%BC%92%EF%BC%94%E2%88%92%EF%BC%91%EF%BC%95&amp;gl=jp&amp;z=14&amp;brcurrent=3,0x600376dce6674b49:0x70a24226ba8f38b3,0,0x600376dce595b651:0x9889d60a2fc0fcb7&amp;ll=35.172525,136.886328&amp;source=embed", :style => "color:#0000FF;text-align:left"} 大きな地図で見る
              %dl
                %dt 会場
                %dd トライデントコンピュータ専門学校
                %dd
                  %address 〒450-0002 名古屋市中村区名駅3-24-15
                %dd TEL:052-581-0581
                %dt アクセス方法
                %dd ◎ JR・地下鉄・名鉄・近鉄・あおなみ線「名古屋」駅下車 徒歩3分
                %dd ◎ 地下鉄桜通線「国際センター」駅下車 徒歩5分
                %dd ユニモール地下街　6番出口のご利用が便利です。
              %br.clear/
            / ▲▲▲access▲▲▲
            / ▼▼▼program▼▼▼
            #program
              %h2 プログラム
              %h3 13:00-13:10 オープニング
              %h3 13:10-13:35 「Coq to Ruby による証明駆動開発」
              %dl
                %dt 発表者
                %dd @mzp - CSNagoya
                %dt 概要
                %dd 証明駆動開発とはなにか、それをRuby でどのように実現するかについて話します。
              %h3 13:35-13:55 「Enumerable はもっと Enumerable になれると思うんだ(仮)」
              %dl
                %dt 発表者
                %dd @antimon2
                %dt 概要
                %dd Enumerable に、配列じゃなくて Enumerable を返すメソッドを追加して、もっと遅延評価で幸せになろうよ！
              %h3 13:55-14:15 「侵略！Redmine 縲鰀 Redmine プラグイン開発入門縲怐v
              %dl
                %dt 発表者
                %dd @suer
                %dt 概要
                %dd Rails で開発された課題管理ツール Redmine はプラグイン機構により、その機能を拡張することができます。プラグインの作成方法や機能拡張のポイントについてお話します。
              %h3 14:15-14:25 休憩
              %h3 14:25-14:45 「Git ことはじめ」
              %dl
                %dt 発表者
                %dd @bleis-tift
                %dt 概要
                %dd 分散バージョン管理システムである Git ですが、難しそうというイメージが強いようです。Git の使い方ではなく、「なぜそうなっているのか」を知ることで、Git を覚えるきっかけとなるハードルを下げることを目指します。
              %h3 14:45-15:00 「Rhodes で行うスマートフォンアプリの作成」
              %dl
                %dt 発表者
                %dd @the_haigo
                %dt 概要
                %dd Rhodes を使用して、iPhone や Andoroid 端末などのスマートフォン向けのアプリの作成方法について説明します。
              %h3 15:00-15:30 「CGIを高速化する小手先テクニック」
              %dl
                %dt 発表者
                %dd 桑田 誠
                %dt 概要
                %dd クラウド環境で Ruby on Rails を使うのが大流行している中、tDiary や Hiki のような CGI アプリもしぶとく生き残っています。そのような現実を踏まえ、本発表では CGI を高速化するための小手先なテクニックの数々を紹介します。
              %h3 15:30-16:00 Lightning Talks
              %p （持ち時間は1人5分。5人の発表者を予定しています。）
              %h3 16:00-16:30 休憩
              %h3 16:30-16:45 「Rubyで作る図形描画 DSL」
              %dl
                %dt 発表者
                %dd 松田 邦仁久
                %dt 概要
                %dd 「メタプログラミングRuby / Paolo Perrotta」を参考に図形を描画する DSL をつくってみました。発表では今回使ったテクニックや作成した図形とコードを紹介します。
              %h3 16:45-17:00 「メタプログラミング Perl（仮）」
              %dl
                %dt 発表者
                %dd @clairvy
                %dt 概要
                %dd 「メタプログラミングRuby」を読んで，なんかする話。 もしかしたら，Perl で同じようなコードを書くかもしれない。
              %h3 17:00-17:30 「子曰く、故きを温ねて、新しきを知れば、以って師と為るべし」
              %dl
                %dt 発表者
                %dd
                  伊藤 浩一 -
                  %a{:href => "http://www.esm.co.jp/"} 株式会社永和システムマネジメント
                %dt 概要
                %dd 発表者は東京で受託開発を生業としているプログラマー兼現場リーダーです。ここ数年の時のながれの中で、わたしが受託開発でもちいるプログラミング言語の中心は Java から Ruby へと変わって行きました。この変遷の中で、変わったもの、変わらず大事なものを、出身地である名古屋にお届けする予定です。
              %h3 17:30-17:35 クロージング
            / ▲▲▲program▲▲▲
            / ▼▼▼subevent▼▼▼
            #subevent
              %h2 併設イベント
              %h3 名古屋Reject会議02
              %p
                発表内容などの詳細は、
                %a{:href => "http://partake.in/events/47ccda3b-82d2-4f89-aa83-395a26545b62"} 公式ページをご覧下さい。
              %br.clear/
            / ▲▲▲subevent▲▲▲
            / ▼▼▼party▼▼▼
            #party
              %h2 懇親会
              %dl
                %dt 日時
                %dd 2011/02/26 18:30 to 20:30
                %dt 定員
                %dd 30人
                %dt 参加費
                %dd 4,000円　前払い(Paypal、クレジットカード、デビットカード）
                %dt 会場
                %dd 未定（名古屋駅周辺・会場から徒歩圏内を予定）
                %dt 応募方法
                %dd
                  %a{:href => "http://atnd.org/events/12411"}> http://atnd.org/events/12411
                  で受付。受付け後にPaypalで支払いをお願いします。
                %dt 締め切り
                %dd 2月13日
              %br.clear/
            / ▲▲▲subevent▲▲▲
          / ▲▲▲contents▲▲▲
          / ▼▼▼Nav▼▼▼
          #Nav
            #stuff
              %h2 スタッフ募集
              %p 名古屋Ruby会議の開催を手伝ってくれるスタッフを募集しています。希望者はnagoya02 _at_ rubykaigi.orgまで「スタッフ希望」としてご連絡下さい
              %dl
                %dt 募集期間
                %dd 12月20日～2月26日
                %dt 募集内容
                %dd 事前準備スタッフ・当日スタッフ
            #speaker
              %h2 スピーカー募集
              %p 受付は終了しました。
            #twitter
              %script{:src => "http://widgets.twimg.com/j/2/widget.js"}
              :javascript
                new TWTR.Widget({
                  version: 2,
                  type: 'search',
                  search: 'ngrk02',
                  interval: 6000,
                  title: '#ngrk02',
                  subject: '名古屋Ruby会議02',
                  width: 234,
                  height: 500,
                  theme: {
                    shell: {
                      background: '#dd0000',
                      color: '#ffffff'
                    },
                    tweets: {
                      background: '#ffffff',
                      color: '#444444',
                      links: '#1985b5'
                    }
                  },
                  features: {
                    scrollbar: false,
                    loop: true,
                    live: true,
                    hashtags: true,
                    timestamp: true,
                    avatars: true,
                    toptweets: true,
                    behavior: 'default'
                  }
                }).render().start();
              %dl
                %dt 公式アカウント
                %dd nagoyarubykaigi02
                %dt 公式ハッシュタグ
                %dd #ngrk02
              %p
                %a{:href => "http://twitter.com/?status=%e5%90%8d%e5%8f%a4%e5%b1%8bRuby%e4%bc%9a%e8%ad%b002%e3%81%af2%e6%9c%8826%e6%97%a5%e3%81%ab%e9%96%8b%e5%82%ac%e3%80%82%e5%8f%82%e5%8a%a0%e5%8f%97%e4%bb%98%e4%b8%ad%ef%bc%88%e7%84%a1%e6%96%99%29%20http%3a%2f%2fbit%2ely%2fngrk02%20%23ngrk02"} さっそくつぶやく
          / ▲▲▲Nav▲▲▲
          %br.clear/
        / ▲▲▲main▲▲▲
        / ▼▼▼footerNav▼▼▼
        #contact
          %h2 お問い合わせ
          %p 名古屋Ruby会議02に関するお問い合わせは、nagoya02 _at_ rubykaigi.orgまでメールにてご連絡ください。
        / ▲▲▲footer▲▲▲
      / ▲▲▲container▲▲▲
      / ▼▼▼footer▼▼▼
      #footer
        #cooplist
          .cooperative
            %h2 主催
            %ul
              %li 名古屋Ruby会議実行委員会
              %li
                %a{:href => "http://wiki.ruby-tokai.org/"} Ruby東海
          .cooperative
            %h2 協賛
            %ul
              %li
                %a{:href => "http://www.weblic.co.jp/"} ウエブリツク合同会社
              %li
                %a{:href => "http://www.trinity4e.com/"} 防犯カメラセンター (株式会社トリニティー)
          .cooperative
            %h2 協力
            %ul
              %li
                %a{:href => "http://www.oreilly.co.jp/"} 株式会社オライリー・ジャパン
              %li
                %a{:href => "http://www.jamboree.jp/cs/"} CSNagoya
              %li
                %a{:href => "http://groups.google.co.jp/group/dstokai"} DSTokai
              %li
                %a{:href => "http://groups.google.com/group/flosss"} FLOSS桜山
          .cooperative
            %h2 後援
            %ul
              %li
                %a{:href => "http://jp.rubyist.net/?Executive"} 日本Rubyの会
          %br.clear/
        %p
          %a{:href => "http://regional.rubykaigi.org/"} Regional RubyKaigi
      / ▲▲▲footer▲▲▲
    / ▲▲▲wrapper▲▲▲
